.plasmic_tokens {
  --token-sMrmdf6kaAham: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-sMrmdf6kaAham);
  --token-R38LjTFmFk_34: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-R38LjTFmFk_34);
  --token-1Bq67qAS1JCyw: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-1Bq67qAS1JCyw);
  --token-vYK9siPKHLs1w: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-vYK9siPKHLs1w);
  --token-iQeoqNjv1eVze: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-iQeoqNjv1eVze);
  --token-_ukmPRjxCpk84: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-_ukmPRjxCpk84);
  --token-BEd2IszTt6l4h: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-BEd2IszTt6l4h);
  --token-9Hcg80BuWOi0-: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-9Hcg80BuWOi0-);
  --token-p_HIwiNsO6qaj: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token-p_HIwiNsO6qaj);
  --token-NId82M7LmFHBC: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-NId82M7LmFHBC);
  --token-rw6G7heA6HRE1: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-rw6G7heA6HRE1);
  --token-pzUMJFS4aK__x: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-pzUMJFS4aK__x);
  --token-rgC4_BoxCbHXs: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-rgC4_BoxCbHXs);
  --token-3faU6rftPzxve: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-3faU6rftPzxve);
  --token-7pWvBFXSpuMxa: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-7pWvBFXSpuMxa);
  --token-96TdMpjQOFP5O: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-96TdMpjQOFP5O);
  --token-IBZY46jAJy8Fr: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-IBZY46jAJy8Fr);
  --token-qNhpDX_11j_JL: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-qNhpDX_11j_JL);
  --token-ZWdPsqnUFfQWr: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-ZWdPsqnUFfQWr);
  --token-gnhrAiL4qNTn0: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-gnhrAiL4qNTn0);
  --token-cSiWs9R_yIPyY: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-cSiWs9R_yIPyY);
  --token-GBbx9hskvJ830: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-GBbx9hskvJ830);
  --token-w6vbx7tsVyXdM: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token-w6vbx7tsVyXdM);
  --token-aEOYG_WAyoc0n: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-aEOYG_WAyoc0n);
  --token-W9mGIJ02ht9Rr: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-W9mGIJ02ht9Rr);
  --token-iz66B07U1k_vI: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-iz66B07U1k_vI);
  --token-MBLmuuprj_9Lm: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-MBLmuuprj_9Lm);
  --token-GEnGe3uO3R7Hk: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-GEnGe3uO3R7Hk);
  --token-y--nOmU8Y5_Qf: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-y--nOmU8Y5_Qf);
  --token-q-IEw1MW1Dpv8: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-q-IEw1MW1Dpv8);
  --token-SAdyJAgO2vk6h: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-SAdyJAgO2vk6h);
  --token-H5NRNLdWGDsjh: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-H5NRNLdWGDsjh);
  --token-uUdOeFWAFCM2r: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-uUdOeFWAFCM2r);
  --token-C6UQJRbzJn16h: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-C6UQJRbzJn16h);
  --token-2C1wMgbZkg84R: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-2C1wMgbZkg84R);
  --token-1iP9Pjy3cpdE1: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-1iP9Pjy3cpdE1);
  --token-V4fWW0ltQs_Cc: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-V4fWW0ltQs_Cc);
  --token-0ude1wPrXxWHy: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-0ude1wPrXxWHy);
  --token-2h0j1-9VoW_vX: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-2h0j1-9VoW_vX);
  --token-V6ECcRJJUkmGi: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-V6ECcRJJUkmGi);
  --token-eQxImsP8HKIlQ: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-eQxImsP8HKIlQ);
  --token-ZG4CUREOHG-Y9: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-ZG4CUREOHG-Y9);
  --token-XLfp-Bz4tNYh3: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-XLfp-Bz4tNYh3);
  --token-fAimtdpRjXns_: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-fAimtdpRjXns_);
  --token-N6lOiC0PvuGi0: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-N6lOiC0PvuGi0);
  --token-V7xjB-AbBrOEh: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-V7xjB-AbBrOEh);
  --token-clrpuvKVPRAOs: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-clrpuvKVPRAOs);
  --token-YEj1dDnBgB4Ds: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-YEj1dDnBgB4Ds);
  --token-QzHn1QO7i3yjW: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-QzHn1QO7i3yjW);
  --token-BlIPLVtXjGR_v: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-BlIPLVtXjGR_v);
  --token-NK6dLsXL10Hxp: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-NK6dLsXL10Hxp);
  --token-3qI7T2Rx8C5iB: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-3qI7T2Rx8C5iB);
  --token-_Tg54Wjwa1PcZ: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-_Tg54Wjwa1PcZ);
  --token-AwrMOPaoBlkiw: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-AwrMOPaoBlkiw);
  --token-OVAlolutvhvcv: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-OVAlolutvhvcv);
  --token-seqe4X1DyvV3i: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-seqe4X1DyvV3i);
  --token-0kn1B4ZLhE70D: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-0kn1B4ZLhE70D);
  --token-84h_2Nm13FR5W: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-84h_2Nm13FR5W);
  --token-FMiqjCoqTYhBr: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-FMiqjCoqTYhBr);
  --token-2wv7BFd25HEhy: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-2wv7BFd25HEhy);
  --token-aJnxKRKEmi9eT: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-aJnxKRKEmi9eT);
  --token-3xEkrq5gP7fYo: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-3xEkrq5gP7fYo);
  --token-p_WQ1oSsX-z79: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-p_WQ1oSsX-z79);
  --token-hvaI6OHgwoDbi: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-hvaI6OHgwoDbi);
  --token-CGn37pwdZIlEv: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-CGn37pwdZIlEv);
  --token-km5mZaauRGleq: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-km5mZaauRGleq);
  --token-0qvWt-x5Vbk6i: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-0qvWt-x5Vbk6i);
  --token-IsrZ39_MujDw4: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-IsrZ39_MujDw4);
  --token-ZBnso8x-khYg1: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-ZBnso8x-khYg1);
  --token-4tvn2P9xhD4Qi: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-4tvn2P9xhD4Qi);
  --token-XXLFPCqpzY9oH: var(--antd-paddingXXS);
  --plasmic-token-system-padding-xxs: var(--token-XXLFPCqpzY9oH);
  --token-qK0LgatEWwke0: var(--antd-paddingXS);
  --plasmic-token-system-padding-xs: var(--token-qK0LgatEWwke0);
  --token-ZaWxQ3QrzZnpt: var(--antd-paddingSM);
  --plasmic-token-system-padding-sm: var(--token-ZaWxQ3QrzZnpt);
  --token-T0eGxzUipOif1: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-T0eGxzUipOif1);
  --token-35PcEm9ZKGmIL: var(--antd-paddingMD);
  --plasmic-token-system-padding-md: var(--token-35PcEm9ZKGmIL);
  --token-XPp9p10VEZp8Z: var(--antd-paddingLG);
  --plasmic-token-system-padding-lg: var(--token-XPp9p10VEZp8Z);
  --token-niEbTh-Oo-edz: var(--antd-paddingXL);
  --plasmic-token-system-padding-xl: var(--token-niEbTh-Oo-edz);
  --token-AKjwb16EqwjhR: var(--antd-marginXXS);
  --plasmic-token-system-margin-xxs: var(--token-AKjwb16EqwjhR);
  --token-pf_67epvmCn7a: var(--antd-marginXS);
  --plasmic-token-system-margin-xs: var(--token-pf_67epvmCn7a);
  --token-_6b57aH_Dnrgu: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-_6b57aH_Dnrgu);
  --token-FtzxXokuzQG0V: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-FtzxXokuzQG0V);
  --token-UgT7vpf84X_xG: var(--antd-marginMD);
  --plasmic-token-system-margin-md: var(--token-UgT7vpf84X_xG);
  --token-vi2F0EgGRoWBs: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-vi2F0EgGRoWBs);
  --token-xgJ-m1QaEQWmB: var(--antd-marginXL);
  --plasmic-token-system-margin-xl: var(--token-xgJ-m1QaEQWmB);
  --token-TNN4Ai7F5w3jf: var(--antd-marginXXL);
  --plasmic-token-system-margin-xxl: var(--token-TNN4Ai7F5w3jf);
  --token-XDeQUZZVwdwGq: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-XDeQUZZVwdwGq);
  --token-GADl6JhC5UJVs: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-GADl6JhC5UJVs);
  --token-Gksb--zZa3BLi: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-Gksb--zZa3BLi);
  --token-sTJz-ACk1zKD5: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-sTJz-ACk1zKD5);
  --token-v0xw9FeqMZgo7: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-v0xw9FeqMZgo7);
  --token-DfGlJ5xb_g0sx: var(--antd-fontSizeHeading2);
  --plasmic-token-system-heading-2: var(--token-DfGlJ5xb_g0sx);
  --token-6j9AFzLEmKajj: var(--antd-fontSizeHeading3);
  --plasmic-token-system-heading-3: var(--token-6j9AFzLEmKajj);
  --token-Lweog2MTU5ldR: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-Lweog2MTU5ldR);
  --token-eKtsH14kloZOv: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-eKtsH14kloZOv);
  --token-L7Xa3WhByzxx9: var(--antd-lineHeight);
  --plasmic-token-system-m: var(--token-L7Xa3WhByzxx9);
  --token-hB5SK1op6_j-k: var(--antd-lineHeightLG);
  --plasmic-token-system-lg: var(--token-hB5SK1op6_j-k);
  --token-Z5ed31pKx4AZP: var(--antd-lineHeightSM);
  --plasmic-token-system-sm: var(--token-Z5ed31pKx4AZP);
  --token-J0IsN310mFS2t: var(--antd-lineHeightHeading1);
  --plasmic-token-system-heading-1: var(--token-J0IsN310mFS2t);
  --token-2EO7OZ-gvP7nP: var(--antd-lineHeightHeading2);
  --plasmic-token-system-heading-2: var(--token-2EO7OZ-gvP7nP);
  --token-d3w8cfOvaW_u5: var(--antd-lineHeightHeading3);
  --plasmic-token-system-heading-3: var(--token-d3w8cfOvaW_u5);
  --token-0T6eS5OzVrFka: var(--antd-lineHeightHeading4);
  --plasmic-token-system-heading-4: var(--token-0T6eS5OzVrFka);
  --token--XvhC6dMJ5jma: var(--antd-lineHeightHeading5);
  --plasmic-token-system-heading-5: var(--token--XvhC6dMJ5jma);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
