.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #161616;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__b69H1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 16px;
}
.freeBox__b69H1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b69H1 > :global(.__wab_flex-container) > *,
.freeBox__b69H1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b69H1 > :global(.__wab_flex-container) > picture > img,
.freeBox__b69H1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b69H1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 32px;
  }
}
.freeBox__trNai {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080%;
  min-width: 0;
}
.freeBox__trNai > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__trNai > :global(.__wab_flex-container) > *,
.freeBox__trNai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__trNai > :global(.__wab_flex-container) > picture > img,
.freeBox__trNai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__trNai {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__trNai > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__trNai > :global(.__wab_flex-container) > *,
  .freeBox__trNai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__trNai > :global(.__wab_flex-container) > picture > img,
  .freeBox__trNai
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__yvFdu {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yvFdu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yvFdu > :global(.__wab_flex-container) > *,
.freeBox__yvFdu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yvFdu > :global(.__wab_flex-container) > picture > img,
.freeBox__yvFdu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yvFdu > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yvFdu > :global(.__wab_flex-container) > *,
  .freeBox__yvFdu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yvFdu > :global(.__wab_flex-container) > picture > img,
  .freeBox__yvFdu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__kz71V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___8ZMHu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ogChQ {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jim4X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___5RN3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__f2Bss {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kKu0P {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__o33BL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__fPEsQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__mcE9W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__p0LHh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__cs8Aw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hsDis {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__w6LHo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w6LHo {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1080px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    width: 100%;
  }
}
.freeBox__maOm {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.text___3XQbV {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #ffffffd9;
  font-family: "Noto Sans Mro", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  position: relative;
  left: auto;
  top: auto;
}
.text__roUJ {
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  font-family: "Noto Sans Mono";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  position: relative;
  left: auto;
  top: auto;
}
.button2__haRol:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.svg___0Lqg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yPixA {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__sl6Hz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
